:root {
  --primary: #ffffff;
  --primary-text: #000000;
  --secondary: #ffffff;
  --secondary-text: #553939;
  --accent: #16882e;
  --accent-text: #ffffff;
  --dull-yellow: #FFCF10;
  --dull-teal: #b1e2be;
  --lightblue: lightblue;
  --bgnew: #1A202C;
  --bgft: #151923;
  --sbtnbg: #222222cf;
  --mbmen: #242c3d;
  --newtxt: #692424;
}





